body {
 font-family: 'Roboto', sans-serif;  
 color: #434455;
 line-height: 1.5;
 letter-spacing: 0.02em;
 background-color: #ffffff;
}

.container {
max-width: 1158px;
padding: 0 15px;
margin: 0 auto;
}

ul,
ol {
 list-style-type: none;
 margin: 0;
 padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
 margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Header */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.nav-header {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.current,
.adres-contact,
.adres-contact {
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo {
    font-size: 18px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.studio-web {
color: #2e2f42;
}

.nav-studio-index {
    position: relative;
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
}


.nav-studio-index::after {
 content: '';

 position: absolute;
 left: 0;
 bottom: -1px;

 border-radius: 2px;
 width: 100%;
 height: 4px;

 background-color: #404BBF;
 opacity: 0;
 transition: opacity color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-studio-index:hover::after,
.nav-studio-index:focus::after,
.nav-studio-index.current::after {
    opacity: 1;
}

.adres-header {
    font-style: normal;
    margin-left: auto;
}

.adres-contact {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;  
}
 .nav-studio-index:hover,
 .nav-studio-index:focus,
 .adres-contact:hover,
 .adres-contact:focus,
 .nav-studio-index.current {
    color: #404bbf;
}


/* Hero Section */
.hero {
   background-color: #2e2f42;
    padding: 188px 0 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
         url(../images/img-11.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}


.hero-title {
    font-weight: 700px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin: 0 auto;
    max-width: 496px;
    text-align: center;
}

.but-hero {
  display: block;
  background-color: #4D5AE5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border: none;
  min-width: 169px;
  min-height: 56px;
  border-radius: 4px;
  padding: 16px 32px;
  align-items: center;
  margin-top: 48px;
  height: 56px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;

  transition: background-color 250mbezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* Features */
.features {
padding: 120px 0 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.features-paragraph {
    flex-basis: calc((100% - 72 ) / 4);
}

.features-paragraph-icons{
 display: flex;
 align-items: center;
 justify-content: center;
 height: 112px;
 border: 1px solid #8E8F99;
 border-radius: 4px;
 background: #F4F4FD;
 margin-bottom: 8px;
}

.features-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    max-width: 264px;
    margin-bottom: 8px;
}

.features-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    max-width: 264px;
}

/* Team */
.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}



.team-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-list {
    display: flex;
    gap: 24px;
}

.fpc {
    margin-bottom: 8px;
}

.team-list-section {
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    flex-basis: calc((100% - 72) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
}

.team-people {
 padding: 32px 0;
}

.team-people-i {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.people-icon {
    width: 40px;
    height: 40px;
}

.soc-icons {
  width: 100%;  
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4D5AE5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #F4F4FD;
}

.soc-icons:focus,
.soc-icons:hover {
    background-color: #404BBF;
}

.fhc,
.fpc {
    text-align: center;
}

/* Portfolio */

.portfolio {
 padding-top: 120px;
 padding-bottom: 120px;
}

.our-portfolio  {
    margin-bottom: 72px;
    font-size: 36px; 
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

 .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    list-style: none;
 }

 .portfolio-start {
    width: calc((100% - 48px) / 3);

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .portfolio-start:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
 }

 .portfolio-start:hover .portfolio-text-p {
  transform: translateY(0);
 }

 .portfolio-cast {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
 }

 .portfolio-text-imeges {
    position: relative;
    overflow: hidden;
    
 }

 .portfolio-text-p {
    position: absolute;
    top: 0;
    background-color: #4D5AE5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .portfolio-app {
    margin-bottom: 8px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-size: 20px;
    font-weight: 500;
    color: #2E2F42;
 }
 
 .text-app {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 16px;
    color: #434455;
 }

/* Footer */
.footer {
    padding: 100px 0 100px 0;
    background-color: #2E2F42;
}

.footer-div {
    display: flex;
    align-items: baseline;
}

.footer-container {
    margin-right: 120px;
    margin-left: 0;
}

.footer-list {
    display: flex;
    padding: 0 auto;
}

.logo {  
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-web {
margin-bottom: 16px;
}

.studio {
    color: #f4f4fd;
}

.parahraf-footer,
.text-icon {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    max-width: 264px;
}

.parahraf-footer {
  font-weight: 400;
  color: #F4F4FD;
}

.text-icon {
 font-weight: 500;
 color: #FFFFFF;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 margin-bottom: 16px;
}

.footer-icon {
 display: flex;
 gap: 16px;
}

.footer-icon-li {
    width: 40px;
    height: 40px;
}

.tp-icon {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tp-icon:hover,
.tp-icon:focus {
  background-color: #31D0AA;
}

.footer-form-box {
    margin-left: 80px;
}

.footer-form-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-input {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding-left: 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

input::placeholder,
textarea::placeholder {
    color: #ffffff;
}

.footer-btn {
    height: 40px;
    border-radius: 4px;
    padding: 8px 24px;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border: none;
    display: flex;
    min-width: 165px;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}

.footer-icon-frame {
  fill: #FFFFFF;
  margin-left: 16px;
}

/*Backdrop*/

.backdrop {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

.modal {
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background-color: #FCFCFC;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 72px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
}

.modal-close-btm {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border-radius: 50%;
    display: flex;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.icons-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  fill: #2E2F42;
}


.modal-close-btm:hover,
.modal-close-btm:focus {
  background-color: #404BBF;
  border: none;
  fill: #FFFFFF;
}

.icons-close:hover,
.icons-close:focus {
 fill: #FFFFFF; 
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-input {
 border: 1px solid #2E2F42;
 border-radius: 4px;
 width: 100%;
 min-height: 40px;
 padding-left: 38px;
 background-color: transparent;
 outline: transparent;
 transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 border-color: #4D5AE5;
 border: 1px solid rgba(46, 47, 66, 0.4);
}


.modal-input:focus-within + .modal-icon {
  fill: #4D5AE5;
}

.modal-input:hover +.modal-icon {
    fill: #4D5AE5;
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-field {
    margin-bottom: 8px;
    width: 360px;
    min-height: 58px;
}

.modal-field-checkbox {
  margin-bottom: 24px;
  min-height: 0;
}

.modal-input-wrap {
    position: relative;
    width: 360px;
}

.modal-label {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: block;
    margin-bottom: 4px;
    line-height: 1.17;
}

.modal-icon { 
  fill: #2E2F42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon:focus {
    fill: #4D5AE5;
}

.modal-comment {
 width: 360px;
 margin-bottom: 16px;
}

.modal-textarea {
 width: 360px;
 min-height: 120px;
 border-radius: 4px;
 resize: none;

  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea::placeholder {
    font-weight: 400;
    font-size: 12px;

    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:hover,
.modal-textarea:focus {
    border-color: #4D5AE5;
}


.modal-check-text {
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8E8F99;
    align-items: center;
    line-height: 1.17;
}

.modal-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid #2E2F42;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
}

.modal-check-a {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4D5AE5;
}

.modal-check:checked + .modal-check-text span {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.modal-btm {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    height: 56px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    border: none;

    min-width: 169px;
    font-weight: 500;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btm:hover,
.modal-btm:focus {
    background-color: #404BBF;
}